body
{
    background: url("bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: none;
    font-family: 'Inclusive Sans', sans-serif !important;


}
.header-div
{
    background: #131224e5;
    color: white;
    padding: 10px;
}
a
{
    text-decoration: none !important;
}

#sq1
{
    opacity: 0.99 !important;
}
#sq1:hover
{
    background: #131224e5;
    opacity: 1 !important;
    visibility: visible;
    transition: all 0.5s ease-out;

}
#sq2
{
    opacity: 0.99 !important;
}
#sq2:hover
{
    background: #dbb27d98;
    opacity: 1 !important;
    visibility: visible;
    transition: all 0.5s ease-out;

}
#sq3
{
    opacity: 0.99 !important;
}
#sq3:hover
{
    background: #a834eb8e;
    opacity: 1 !important;
    visibility: visible;
    transition: all 0.5s ease-out;

}
.menu-square
{
    padding: 10px 10px 10px !important;

    cursor: pointer;
}
.menu-square > p
{
    color: white;
    padding: 5px 0px 5px;
    margin-bottom: 0px !important;
}
.row
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.card2
{
    background: rgba(255,255,255, 0.5);
    padding: 0px 0px 15px;
}
h2
{
    background-color: #131224e5;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 30px 20px;
    margin-bottom: 15px !important;
}
.col-12
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.weatherwidget-io
{
    border-bottom-right-radius: px 20px;
    border-bottom-left-radius: 10px 20px;
}
#pro
{
    background-color: #dbb27d;
}
h4
{
    text-align: center;
    background: #a834eb;
    padding: 15px 0px 15px;
    color: white;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 30px 20px;
}
iframe
{
    margin: 15px 0px 15px;
}
#trasy
{
    background: #a834eb;
}
#navbarek
{
    background: rgb(19,18,36);
background: linear-gradient(90deg, rgba(19,18,36,1) 0%, rgba(219,178,125,1) 50%, rgba(168,52,235,1) 100%);
}
.container
{
    padding: 0px !important;
}
p
{
    padding: 0px 10px 0px;
}